html {
background-color: #1C1C1C;
}

.container {
    background-color: #23252C;
    max-width: 300px;
    margin: 3rem auto;
}

.card {
    background-color: #ffffff;
}


.portrait {
    border-radius: 10px 10px 0px 0px;
    background-image: url("./../images/CS-cover.jpg");
    background-repeat: no-repeat;
    background-size: 260px;
    background-position: center;
    width: 200px;
    height: 200px;
    margin: 1px;
}



.content {
background-color: #F5F5F5;
}

.footer {
    background-color: #D5D4D8;
}
